<li class="list_item <%= cycle('odd', 'even') %>">
	<span class="store cup">&nbsp;
	</span>
	<h3><%= link_to h(store.title), store %></h3>
	<p><%= h store.description %></p>
	<small>Last updated <%= time_ago_in_words(store.updated_at)%> ago</small>
</li>