body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
  padding: 0px;
  margin: 0px;
}

pre {
  background-color: #eee;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#header {
	background-color: #272727;
	height:30px;
}

#menu {
	float:left;
	width:100%;
	padding-left:5px;
	background-color: #5BC51E;
	color:#fff;
}

#menu a, #bottom_menu { 
	display:block;
	color: #fff; 
	padding:5px 5px;
}
#menu a:visited { color: #fff; }
#menu a:hover { color: #fff; background-color:#000; }

#menu ul {
	list-style:none;
}

#menu li {
	float:left;
}


h1 {
	font-size:0.75em;
	background-color:#E5FDD9;
	padding:5px 7px 5px 7px;
	margin:5px 0px 5px 0px;
	color:#000;
	border-bottom: 1px solid #999;
}

content {
	
}

.emphasis {
}

#primary {	
}

.list {
	padding-left:5px;
	list-style: none;
}

.list_item {
	border-bottom: 1px solid #999;
}

li #even {
	background-color:#eee;
}

li #odd {	
}

.cup {
	margin:2px 5px;
	float:left;
	height:40px;
	width:40px;
	background-image:url('../images/cup.png');
}