body { background-color: #fff; color: #666; }

body, p, ol, ul, td {
  font-family: helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
  padding: 0px;
  margin: 0px;
}

pre {
  background-color: #eee;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #000; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors input {
	background-color: #FDFB2F;
}

#errorExplanation {
	background: rgb(253, 254, 195);
	border: 1px solid #FDFB2F;
	margin: 5px auto 10px auto;
	padding: 10px;
}

#errorExplanation h2 {
	color: black;
	font-size: 1em;
	margin: 5px 0px;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
	list-style-type: disc;
	margin: 0px 20px;
}

/* TODO: Refactor into single notice*/

.error {
	color:black;
	display:block;
	margin:5px 5px 5px 5px;
	padding:5px 5px 5px 5px;
	border-top: 1px solid #FDFB2F;
	border-bottom: 1px solid #FDFB2F;
	background-color: rgb(253, 254, 195);
}

.notice {
	color:black;
	display:block;
	margin:5px 5px 5px 5px;
	padding:5px 5px 5px 5px;
	border-top: 1px solid #5BC51E;
	border-bottom: 1px solid #5BC51E;
	background-color:#E5FDD9;
}

/* H */

h4 {
	margin:0;
}

/* Forms */

.form {
/*	background-color: #F8F8F8;*/
	padding:0px 5px 5px 5px;
	margin:5px;
}

.form input {
	width:90%;
	font-size:155%;
}

.form .check {
	width:15px;
}

.form .submit {
	width:100%;
}

.form h4 {
	padding:5px;
	color:#000;
	font-size:1em;
	border-bottom: 1px solid #D2D0D0;
}

dd {
	margin:0px;
	
}

dl {
	
}

/* Header */

#header {
	background-color: #272727;
	height:30px;
}

#menu {
	float:left;
	width:100%;
	padding-left:5px;
	background-color: #5BC51E;
	color:#fff;
}

#menu a { 
	display:block;
	color: #fff; 
	padding:5px 5px;
}
#menu a:visited { color: #fff; }
#menu a:hover { color: #fff; background-color:#000; }

#menu li {
	float:left;
}

#menu .right {
	float:right;
	padding: 0px 5px 0px 0px;
}

#bottom_menu {
	margin-top:5px;
	padding-top:5px;
	padding-bottom:5px;
	background-color: #5BC51E;
}

#bottom_menu a {
	color:#fff;
	display:block;
	padding:0px 5px;
}

#bottom_menu a:hover {
	background-color:#000;
	color:#fff;
}

ul {
	list-style:none;
}

li {
	margin-top:0px;
}

#subheader {
	background-color:#E5FDD9;
	padding:2px 7px 2px 7px;
	color:#000;
	border-bottom: 1px solid #999;	
}

#subheader ul {
	display:block;
	height:18px;
}

#subheader li {
	float:left;
	color:#fff;
}

#subheader a {
	background-color:#E5FDD9;
	color:#72BF2B;
	font-size: 1em;
	display:block;
	padding:0px 5px;
}

#subheader a:hover {
	background-color:#E5FDD9;
	color:#fff;
}

h1 {
	font-size:0.75em;
	padding:0px;
	margin:0px;
}

h3 {
	margin: 0 0 0 0;
}

.list {
	padding-left:5px;
	list-style: none;
}

/*
.list a, .list a:visited {
	text-decoration: none;
	color:#666;
}

.list a:hover {
	background-color:#E9FBDA;
}
*/
.list_item {
	padding-top:5px;
	border-bottom: 1px solid #999;
}

.even {
	background-color:#E9FBDA;
}

.odd {	
}

.list p {
	font-size:0.75em;
}

.cup {
	margin:2px 5px;
	float:left;
	height:40px;
	width:40px;
	background-image:url('../images/cup.png');
}

small {
	font-size: 0.50em;
}

/* Pagination */
.digg_pagination {
	font-size:75%;
	background: white;
	padding-left:5px;
	/* self-clearing method: */ }
	.digg_pagination a, .digg_pagination span {
	  padding: .2em .5em;
	  display: block;
	  float: left;
	  margin-right: 1px; }
	.digg_pagination span.disabled {
	  color: #999;
	  border: 1px solid #DDD; }
	.digg_pagination span.current {
	  font-weight: bold;
	  background: #72BF2B;
	  color: white;
	  border: 1px solid #72BF2B; }
	.digg_pagination a {
	  text-decoration: none;
	  color: #72BF2B;
	  border: 1px solid #72BF2B; }
	  .digg_pagination a:hover, .digg_pagination a:focus {
	    color: #003;
	    border-color: #003; }
	.digg_pagination .page_info {
	  background: #72BF2B;
	  color: white;
	  padding: .4em .6em;
	  width: 22em;
	  margin-bottom: .3em;
	  text-align: center; }
	  .digg_pagination .page_info b {
	    color: #003;
	    background: #6aa6ed;
	    padding: .1em .25em; }
	.digg_pagination:after {
	  content: ".";
	  display: block;
	  height: 0;
	  clear: both;
	  visibility: hidden; }
	* html .digg_pagination {
	  height: 1%; }
	*:first-child+html .digg_pagination {
	  overflow: hidden; 
}

#footer {
	padding:5px;
	font-size:75%;
	background-color: #272727;
	color: #fff;	
}

#footer a, #footer a:hover {
	color:#fff;
}