body { background-color: #fff; color: #666; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
  padding: 0px;
  margin: 0px;
}

pre {
  background-color: #eee;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #000; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#header {
	background-color: #272727;
	height:30px;
}

#menu {
	float:left;
	width:100%;
	padding-left:5px;
	background-color: #5BC51E;
	color:#fff;
}

#menu a { 
	display:block;
	color: #fff; 
	padding:5px 5px;
}
#menu a:visited { color: #fff; }
#menu a:hover { color: #fff; background-color:#000; }

#menu li {
	float:left;
}

#bottom_menu {
	background-color: #E5FDD9;
}

#bottom_menu a {
	background-color:#E5FDD9;
	color:#72BF2B;
	font-size: 0.75em;
	display:block;
	padding:0px 5px;
}

#bottom_menu a:hover {
	background-color:#E5FDD9;
	color:#fff;
}

ul {
	list-style:none;
}

li {
	margin-top:0px;
}

#subheader {
	background-color:#E5FDD9;
	padding:2px 7px 2px 7px;
	color:#000;
	border-bottom: 1px solid #999;	
}

#subheader ul {
	display:block;
	height:18px;
}

#subheader li {
	float:left;
	color:#fff;
	font-size: 0.75em;
}

#subheader a {
	background-color:#E5FDD9;
	color:#72BF2B;
	font-size: 1em;
	display:block;
	padding:0px 5px;
}

#subheader a:hover {
	background-color:#E5FDD9;
	color:#fff;
}

h1 {
	font-size:0.75em;
	padding:0px;
	margin:0px;
}

h3 {
	margin: 0 0 0 0;
}

content {
	
}

.emphasis {
}

#primary {	
}

.list {
	padding-left:5px;
	list-style: none;
}

.list_item {
	padding-top:5px;
	border-bottom: 1px solid #999;
}

.even {
	background-color:#E9FBDA;
}

.odd {	
}

.list p {
	font-size:0.75em;
}

.cup {
	margin:2px 5px;
	float:left;
	height:40px;
	width:40px;
	background-image:url('../images/cup.png');
}

small {
	font-size: 0.50em;
}

/* Pagination */
.digg_pagination {

	background: white;
	/* self-clearing method: */ }
	.digg_pagination a, .digg_pagination span {
	  padding: .2em .5em;
	  display: block;
	  float: left;
	  margin-right: 1px; }
	.digg_pagination span.disabled {
	  color: #999;
	  border: 1px solid #DDD; }
	.digg_pagination span.current {
	  font-weight: bold;
	  background: #72BF2B;
	  color: white;
	  border: 1px solid #72BF2B; }
	.digg_pagination a {
	  text-decoration: none;
	  color: #72BF2B;
	  border: 1px solid #72BF2B; }
	  .digg_pagination a:hover, .digg_pagination a:focus {
	    color: #003;
	    border-color: #003; }
	.digg_pagination .page_info {
	  background: #72BF2B;
	  color: white;
	  padding: .4em .6em;
	  width: 22em;
	  margin-bottom: .3em;
	  text-align: center; }
	  .digg_pagination .page_info b {
	    color: #003;
	    background: #6aa6ed;
	    padding: .1em .25em; }
	.digg_pagination:after {
	  content: ".";
	  display: block;
	  height: 0;
	  clear: both;
	  visibility: hidden; }
	* html .digg_pagination {
	  height: 1%; }
	*:first-child+html .digg_pagination {
	  overflow: hidden; 
}