<% @page_title = "Growing the Chains" %>

<% form_for(@chain) do |f| %>
  <div class="form">
	  <h4>Submit a new Restaurant Chain</h4>
	  <%= f.error_messages %>
	
	  <%= render :partial => 'form', :locals => {:f => f} %>

	  <p>
	    <%= f.submit 'Create', :class => :submit %>
	  </p>
<% end %>
</div>
<% content_for :bottom_menu do -%>
	<%= link_to 'Back', chains_path %>
<% end-%>